@import "tailwindcss";
@plugin "daisyui";

@custom-variant dark (&:where(.dark, .dark *));

@tailwind utilities;

@media only screen and (max-width: 480px) {
    .Toastify__toast-container--top-right {
        top: 1rem !important;
        right: 1rem !important;
        left: auto !important;
        width: auto !important;
    }

    .Toastify__toast {
        width: 70vw !important;
        border-radius: 7px !important;
    }
}